<!DOCTYPE html>
<html>

<h1>I just want to make sure I have everything</h1>>

    <table>
        <tr>
          <th>Hello</th>
          <th>Mr.</th>
          <th>Hinkle</th>
        </tr>
        <tr>
          <td>Do you</td>
          <td>Like</td>
          <td>Story?</td>
        </tr>
        <tr>
          <td>Uno</td>
          <td>Dos</td>
          <td>Tres</td>
        </tr>
      </table>

      <ul>
        <li>I copied the table from W3Schools</li>
        <li>But I slightly repurposed the code</li>
        <li>This list is original</li>
        <li>I copied the cookie getter and setter functions off of stack overflow for convenience</li>
      </ul>

      <p>This is a paragraph. Alongside this, I should tell you how to find a loop in the story. This will count as moving backwards. I don't want people to move backwards normally cause you can't unassassinate youself and stuff like that.</p>

      <ol>
        <li>Threaten Nukes</li>
        <li>Thank Soviets</li>
        <li>Denounce Apartheid Government</li>
        <li>Stay in the Oval Office (I know it says you will die but trust me)</li>
        <li>Run virus cleaner</li>
      </ol>

      <p>It will make sense when you do it. Also, I have images in every ending. Also each chapter has a heading, so yah. Ok, I'll italicize <i>this</i></p>

      <style>
        
        table {
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 5px solid black;
          text-align: center;
          padding: 5px;
        }
        
      
    </style>
</html>

